<body>
    <header><img src="/imagenes/ahorcado.png" alt="ahorcado"></header>
    <main>
        <section>
            <div>
                <h1>¡Bienvenido a nuestro sitio web de Ahorcado!</h1>
                <p>Pon a prueba tu vocabulario y adivina la palabra oculta antes de que se acaben los intentos (max 5). ¿Cuántas podrás descubrir sin equivocarte? ¡Jugá y divertite!</p>
            </div>
        </section>
        <section>
            <div>
                <nav>
                    <a href="@Url.Action("Jugar", "Home")">Jugar</a>
                </nav> 
            </div>
        </section>            
    </main>    
</body>
